:root {
  --font-sans: "poppins","sans-serif";
  --font-serif: "stolzl", serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-small: 0.75rem;
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale));
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --color-accent: #E19772;
  --color-light: #fff;
  --color-light-medium: #FAF0E8;
  --color-medium: #EED8CA;
  --color-dark: #463233;
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --section-gap-inner-small: calc( var(--section-gap) * 0.5);
  --grid-gap: 3rem;
  --page-width: 80rem;
  --page-padding: 50px;
  --content-width: 55rem;
  --content-width-small: 34rem;
  --menu-height: 80px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0,var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: 1fr 1fr [wide-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [wide-end] 1fr 1fr;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

body {
  color: var(--color-dark);
  font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-6);
  font-weight: 400;
}

h2 {
  font-size: var(--font-size-5);
  font-weight: 300;
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, a, li {
  line-height: 1.7;
  font-weight: 300;
  font-size: var(--font-size-1);
}

p {
  margin-bottom: 1.5rem;
}

.site-header {
  height: var(--menu-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  z-index: 999;
}
.site-header .branding {
  margin-left: var(--page-padding);
}
.site-header .menu {
  margin-right: var(--page-padding);
}

.section {
  margin-top: 100px;
  margin-bottom: 150px;
}

.about {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.about__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
}
.about__img-1 {
  margin-bottom: 3rem;
}
.about__content {
  max-width: var(--content-width-small);
  width: 100%;
  margin: 0 1.5rem 0 1.5rem;
}
.about__content:first-of-type {
  margin-top: 4rem;
}
.about__content .button__learnmore {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
  margin-bottom: 7.5rem;
  margin-top: 1rem;
}
.about__content .button__learnmore:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
.about__content .button__shop {
  background: none;
  color: var(--color-dark);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 1px solid var(--color-dark);
  cursor: pointer;
  margin-top: 1rem;
}
.about__content .button__shop:hover {
  color: var(--color-accent);
}
.about__content p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 27rem;
}

.products {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.products__header {
  grid-column: inner;
  max-width: 500px;
  text-align: center;
  justify-self: center;
  margin-bottom: 3rem;
}
.products__content {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
}
.products .product {
  margin: 0 1.5rem 0 1.5rem;
  max-width: var(--content-width-small);
}
.products .product__title {
  margin: 2rem 0 1.5rem 0;
}
.products .product__description {
  height: 12rem;
  max-width: 30rem;
  margin: 0;
}
.products .button__view {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
  margin-right: 3rem;
}
.products .button__view:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
.products .button__add {
  background: none;
  color: var(--color-dark);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 1px solid var(--color-dark);
  cursor: pointer;
}
.products .button__add:hover {
  color: var(--color-accent);
}

.banner {
  background-color: var(--color-light-medium);
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner__content {
  text-align: center;
  height: 100px;
  border-right: 3px solid var(--color-dark);
  padding-right: 10%;
}
.banner__content:last-of-type {
  border: none;
  padding: 0;
}
.banner__title {
  font-weight: 500;
  opacity: 0.7;
}
.banner__info {
  font-size: var(--font-size-small);
  margin-bottom: 0;
}

.regimen {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.regimen__inner {
  grid-column: inner;
  display: flex;
  align-items: center;
  justify-content: center;
}
.regimen__img {
  max-width: 540px;
  box-shadow: -30px 30px 0 var(--color-medium);
}
.regimen__content {
  max-width: 480px;
  margin-left: 50px;
}
.regimen__content .button__create {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
  margin-top: 2rem;
}
.regimen__content .button__create:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
.regimen__title {
  font-size: var(--font-size-6);
  font-weight: 300;
  margin-bottom: 2rem;
}

.reviews {
  background-color: var(--color-light-medium);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding-bottom: 50px;
  padding-top: 100px;
}
.reviews__inner {
  grid-column: inner;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__inner .links {
  display: flex;
  justify-content: space-between;
}
.reviews__inner .link {
  margin: 3rem 1rem 1rem 1rem;
}
.reviews__header {
  text-align: center;
}
.reviews__header p {
  font-size: var(--font-size-2);
  font-weight: 200;
  max-width: 600px;
  margin-bottom: 5rem;
}
.reviews__title {
  font-weight: 300;
  margin-bottom: 2rem;
}
.reviews__boxes {
  display: flex;
  justify-content: space-evenly;
}
.reviews__boxes .review__box {
  background-color: var(--color-light);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5rem;
}
.reviews__boxes .review__box:last-of-type {
  margin: 0;
}
.reviews__boxes .review__stars {
  max-width: 146px;
}
.reviews__boxes .review__text {
  font-weight: 200;
}
.reviews__boxes .review__author {
  font-weight: 400;
}

.menu {
  display: flex;
}
.menu a {
  margin-right: 1.5rem;
}

.menu-button {
  display: block;
  width: 36px;
  height: 20px;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.menu-button__hamburger {
  height: 2px;
  width: 100%;
  background-color: var(--color-dark);
  position: relative;
}
.menu-button__hamburger::before, .menu-button__hamburger::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  height: 2px;
  background-color: inherit;
  top: -8px;
}
.menu-button__hamburger::after {
  top: 8px;
}

.hero {
  background-image: url(assets/images/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}
.hero__inner {
  display: grid;
  grid-template-columns: var(--grid-content);
  grid-template-rows: 1fr 2fr 1fr;
  gap: var(--grid-gap);
  justify-items: center;
  align-items: end;
  height: 100vh;
}
.hero__title {
  grid-column: 1/13;
  font-size: 4.3rem;
  font-family: var(--font-sans);
}
.hero__cta {
  max-width: var(--content-width-small);
  grid-column: 2/5;
  font-size: var(--font-size-1);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  padding-top: 3rem;
}
.hero__cta button {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
}
.hero__cta button:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
.hero-product {
  position: absolute;
  top: 50vh;
  right: 50vw;
  transform: translateX(200px);
}
.hero-product__content {
  position: absolute;
  left: 200px;
  top: 30px;
}
.hero-product__content::before {
  content: "";
  height: 1px;
  max-width: 100px;
  width: 100%;
  background-color: var(--color-dark);
  position: absolute;
  right: 100%;
  margin-right: 1rem;
  top: 0.5rem;
}
.hero-product__content p {
  margin: 0;
  width: 12rem;
}
.hero-product__content .title {
  margin-bottom: 1rem;
}
.hero-product__button {
  height: 72px;
  width: 72px;
  display: block;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 4rem 0;
  border: none;
  background-color: var(--color-accent);
  opacity: 0.7;
  color: var(--color-light);
  font-size: var(--font-size-3);
}
.hero .social {
  grid-area: 3/12/4/13;
}
.hero .social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
