:root {
  --font-sans: "poppins","sans-serif";
  --font-serif: "stolzl", serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-small: 0.75rem;
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale));
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --color-accent: #E19772;
  --color-light: #fff;
  --color-light-medium: #FAF0E8;
  --color-medium: #F4D6C4;
  --color-dark: #463233;
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75);
  --section-gap-inner-small: calc( var(--section-gap) * 0.5);
  --grid-gap: 3rem;
  --page-width: 74.5rem;
  --page-padding: 5rem;
  --content-width: 55rem;
  --content-width-small: 34rem;
  --menu-height: 80px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0,var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: 1fr 1fr [wide-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [wide-end] 1fr 1fr;
}
@media screen and (max-width: 960px) {
  :root {
    --page-padding: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --grid-container: 0 [inner-start] minmax(0,var(--page-width)) [inner-end] 0;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

body {
  color: var(--color-dark);
  font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-6);
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: var(--font-size-4);
  }
}

h2 {
  font-size: var(--font-size-5);
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: var(--font-size-3);
  }
}

h3 {
  font-size: var(--font-size-4);
}
@media screen and (max-width: 500px) {
  h3 {
    font-size: var(--font-size-2);
  }
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, a, li {
  line-height: 1.7;
  font-weight: 300;
  font-size: var(--font-size-1);
}
@media screen and (max-width: 500px) {
  p, a, li {
    font-size: var(--font-size-small);
  }
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5rem;
}

.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.footer__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 6rem 0;
}
@media screen and (max-width: 800px) {
  .footer__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .footer__inner {
    padding: 2rem 1.5rem 6rem 1.5rem;
  }
}
.footer .brand__info {
  max-width: 17rem;
}
@media screen and (max-width: 800px) {
  .footer .brand__info {
    margin-bottom: 5rem;
    max-width: 25rem;
  }
}
.footer .brand__socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 4rem;
}
.footer .social__item {
  margin-right: 1rem;
}
.footer__menus {
  display: flex;
}
@media screen and (max-width: 500px) {
  .footer__menus {
    flex-direction: column;
  }
}
.footer__menu {
  margin-left: 2.5rem;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .footer__menu {
    margin-bottom: 2rem;
  }
  .footer__menu:first-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__menu {
    margin-left: 0;
    margin-top: 1rem;
  }
}
.footer__menu .menu__title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 22px;
}
@media screen and (max-width: 800px) {
  .footer__menu .menu__title {
    font-size: 18px;
  }
}
.footer__menu .menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu .menu__item {
  margin-top: 0.2rem;
}
.footer__menu .menu__link {
  color: var(--color-dark);
  font-weight: 200;
}
.footer__menu .menu__link:hover {
  color: var(--color-accent);
}
@media screen and (max-width: 800px) {
  .footer__menu .menu__link {
    font-size: 16px;
  }
}

.copyright {
  font-size: 12px;
  font-weight: 100;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.copyright::before {
  content: "";
  height: 1px;
  width: 90%;
  background-color: var(--color-dark);
  opacity: 0.4;
  top: 0;
  position: absolute;
}

.site-header {
  height: var(--menu-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  z-index: 999;
  position: fixed;
}
.site-header .branding {
  margin-left: var(--page-padding);
}
@media screen and (max-width: 450px) {
  .site-header .branding {
    max-width: 100px;
    margin-left: 1rem;
  }
}
.site-header .menu {
  margin-right: var(--page-padding);
}
@media screen and (max-width: 450px) {
  .site-header .menu {
    margin-right: 1rem;
  }
}

.site-header--scrolled {
  background-color: var(--color-light-medium);
}

.section {
  margin-top: 100px;
  margin-bottom: 150px;
}
@media screen and (max-width: 800px) {
  .section {
    margin-bottom: 80px;
  }
}

.banner {
  background-color: var(--color-light-medium);
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner__content {
  text-align: center;
}
.banner .separator {
  height: 100px;
  width: 2px;
  background-color: var(--color-dark);
  margin: 0 1rem;
}
.banner__title {
  font-weight: 500;
  opacity: 0.9;
}
@media screen and (max-width: 900px) {
  .banner__title {
    font-size: var(--font-size-2);
  }
}
@media screen and (max-width: 600px) {
  .banner__title {
    font-size: var(--font-size-small);
  }
}
.banner__info {
  font-size: var(--font-size-small);
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
  .banner__info {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .banner__info {
    font-size: 7px;
  }
}

.menu {
  display: flex;
}
.menu a {
  margin-right: 1.5rem;
}

.basket {
  position: relative;
}
.basket::after {
  content: url(assets/icons/count.svg);
  position: absolute;
  height: 14px;
  width: 14px;
  top: -100%;
  left: 100%;
  transform: translateY(30%);
}
@media screen and (max-width: 300px) {
  .basket {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .my-pages {
    display: none;
  }
}

.menu-button {
  display: block;
  width: 36px;
  height: 20px;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.menu-button__hamburger {
  height: 2px;
  width: 100%;
  background-color: var(--color-dark);
  position: relative;
}
.menu-button__hamburger::before, .menu-button__hamburger::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  height: 2px;
  background-color: inherit;
  top: -8px;
}
.menu-button__hamburger::after {
  top: 8px;
}

.menu-dropdown {
  position: absolute;
  right: var(--page-padding);
  top: var(--menu-height);
  text-align: end;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: rgba(244, 217, 200, 0.8);
  padding: 1rem 3rem 3rem 3rem;
  right: 0;
  z-index: 999;
}
.menu-dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-dropdown__item {
  margin-bottom: 0.3rem;
}
.menu-dropdown__item a {
  color: var(--color-dark);
}
.menu-dropdown__item a:hover {
  color: var(--color-accent);
}

.menu--opened {
  visibility: visible;
  opacity: 1;
}

.menu-button--close .menu-button__hamburger,
.menu-button--close .menu-button__hamburger::before,
.menu-button--close .menu-button__hamburger::after {
  background-color: var(--color-accent);
}

.dropdown--scrolled {
  background-color: var(--color-light-medium);
  padding: 1rem 3rem 3rem 3rem;
  right: 0;
}

.hero {
  background-image: url(assets/images/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}
.hero__inner {
  height: 100vh;
  padding-top: var(--menu-height);
}
@media screen and (max-width: 1050px) {
  .hero__inner {
    background-color: rgba(244, 217, 200, 0.5);
  }
}
.hero__title {
  position: absolute;
  font-size: 4.3rem;
  font-family: var(--font-sans);
  width: 100vw;
  text-align: center;
  padding: 0 3rem 0 3rem;
}
@media screen and (max-width: 930px) {
  .hero__title {
    font-size: 3.5rem;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
.hero__cta {
  position: absolute;
  left: 10vw;
  font-size: var(--font-size-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 30vh;
  max-width: 300px;
}
@media screen and (max-width: 1050px) {
  .hero__cta {
    padding: 0.3rem;
  }
}
@media screen and (max-width: 950px) {
  .hero__cta {
    top: 50vh;
  }
}
.hero__cta button {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
}
.hero__cta button:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
@media screen and (max-width: 500px) {
  .hero__cta button {
    font-size: var(--font-size-1);
    height: 40px;
  }
}
.hero-product {
  position: absolute;
  top: 50vh;
  right: 50vw;
  transform: translateX(200px);
}
@media screen and (max-width: 950px) {
  .hero-product {
    display: none;
  }
}
.hero-product__content {
  position: absolute;
  left: 200px;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 1080px) {
  .hero-product__content {
    left: 150px;
  }
}
.hero-product__content::before {
  content: "";
  height: 1px;
  max-width: 100px;
  width: 100%;
  background-color: var(--color-dark);
  position: absolute;
  right: 100%;
  margin-right: 1rem;
  top: 0.5rem;
}
@media screen and (max-width: 1080px) {
  .hero-product__content::before {
    max-width: 50px;
  }
}
@media screen and (max-width: 950px) {
  .hero-product__content::before {
    display: none;
  }
}
.hero-product__content p {
  margin: 0;
  width: 12rem;
}
.hero-product__content .title {
  margin-bottom: 1rem;
}
.hero-product__button {
  height: 72px;
  width: 72px;
  display: block;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 4rem 0;
  border: none;
  background-color: var(--color-accent);
  opacity: 0.7;
  color: var(--color-light);
  font-size: var(--font-size-3);
  cursor: pointer;
}
.hero-product__button:hover {
  opacity: 0.9;
}
.hero .social {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero .social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.show--product {
  visibility: visible;
  opacity: 1;
}

.regimen {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.regimen__inner {
  grid-column: inner;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .regimen__inner {
    flex-direction: column-reverse;
  }
}
.regimen__img {
  box-shadow: -30px 30px 0 var(--color-medium);
}
@media screen and (max-width: 800px) {
  .regimen__img {
    box-shadow: none;
    margin-top: 4rem;
  }
}
.regimen__content {
  max-width: 480px;
  width: 100%;
  margin-left: 50px;
}
@media screen and (max-width: 800px) {
  .regimen__content {
    margin: 0;
    max-width: 30rem;
    text-align: center;
  }
}
.regimen__content .button__create {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
  margin-top: 2rem;
}
.regimen__content .button__create:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
@media screen and (max-width: 500px) {
  .regimen__content .button__create {
    font-size: var(--font-size-1);
    height: 40px;
  }
}
.regimen__title {
  font-size: var(--font-size-6);
  font-weight: 300;
  margin-bottom: 2rem;
}
@media screen and (max-width: 960px) {
  .regimen__title {
    font-size: var(--font-size-4);
  }
}

.reviews {
  background-color: var(--color-light-medium);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 100px 0 50px 0;
}
@media screen and (max-width: 500px) {
  .reviews {
    padding: 100px 1rem 50px 1rem;
  }
}
.reviews__inner {
  grid-column: inner;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__inner .links {
  display: flex;
  justify-content: space-between;
}
.reviews__inner .link {
  margin: 3rem 1rem 1rem 1rem;
}
.reviews__header {
  text-align: center;
}
.reviews__header p {
  font-size: var(--font-size-2);
  font-weight: 200;
  max-width: 600px;
  margin-bottom: 5rem;
}
@media screen and (max-width: 500px) {
  .reviews__header p {
    font-size: var(--font-size-small);
  }
}
.reviews__title {
  font-weight: 300;
  margin-bottom: 2rem;
}
.reviews__boxes {
  display: flex;
  justify-content: space-evenly;
  max-width: 1060px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .reviews__boxes {
    flex-direction: column;
    align-items: center;
  }
}
.reviews__boxes .review__box {
  background-color: var(--color-light);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.16);
  max-width: 300px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
}
@media screen and (max-width: 800px) {
  .reviews__boxes .review__box {
    margin: 0;
    max-width: 500px;
    margin-top: 1rem;
  }
}
.reviews__boxes .review__box:last-of-type {
  margin: 0;
}
@media screen and (max-width: 800px) {
  .reviews__boxes .review__box:last-of-type {
    margin-top: 1rem;
  }
}
.reviews__boxes .review__stars {
  max-width: 146px;
}
.reviews__boxes .review__text {
  font-weight: 200;
}
.reviews__boxes .review__author {
  font-weight: 400;
}

.about {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.about__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}
@media screen and (max-width: 800px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .about__img {
    margin: 2rem 0;
  }
}
.about__img-2 {
  margin-top: 5rem;
}
@media screen and (max-width: 500px) {
  .about__title {
    margin: 1.5rem;
  }
}
.about__content {
  margin-right: 1rem;
}
@media screen and (max-width: 800px) {
  .about__content {
    margin: 0;
    text-align: center;
  }
}
.about__content:last-of-type {
  margin-right: 0;
  margin-left: 1rem;
}
@media screen and (max-width: 800px) {
  .about__content:last-of-type {
    margin: 0;
  }
}
.about__content .button__learnmore {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
  margin-top: 1rem;
}
.about__content .button__learnmore:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
@media screen and (max-width: 500px) {
  .about__content .button__learnmore {
    font-size: var(--font-size-1);
    height: 40px;
  }
}
.about__content .button__shop {
  background: none;
  color: var(--color-dark);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 1px solid var(--color-dark);
  cursor: pointer;
  margin-top: 1rem;
}
.about__content .button__shop:hover {
  color: var(--color-accent);
}
@media screen and (max-width: 500px) {
  .about__content .button__shop {
    font-size: var(--font-size-1);
    height: 40px;
  }
}
.about__content p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 27rem;
}
@media screen and (max-width: 800px) {
  .about__content p {
    max-width: none;
    margin: 1rem 3rem;
  }
}
@media screen and (max-width: 500px) {
  .about__content p {
    margin: 1.5rem;
  }
}

.products {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.products__inner {
  grid-column: inner;
}
.products__header {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__header p {
  max-width: 500px;
}
.products__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .products__content {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
.products .product {
  margin-right: 1rem;
}
.products .product:last-of-type {
  margin-right: 0;
  margin-left: 1rem;
}
@media screen and (max-width: 800px) {
  .products .product:last-of-type {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .products .product {
    margin-right: 0;
    margin-bottom: 5rem;
    text-align: center;
  }
}
.products .product__title {
  margin: 2rem 0 1.5rem 0;
}
.products .product__description {
  max-width: 30rem;
  margin: 0 0.5rem 2rem 0;
}
@media screen and (max-width: 800px) {
  .products .product__description {
    margin: 0 3rem;
    max-width: none;
  }
}
.products .product__buttons {
  margin-top: 3rem;
}
@media screen and (max-width: 500px) {
  .products .product__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.products .button__view {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 0;
  cursor: pointer;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.products .button__view:hover {
  background-color: var(--color-dark);
  color: var(--color-medium);
}
@media screen and (max-width: 500px) {
  .products .button__view {
    font-size: var(--font-size-1);
    height: 40px;
  }
}
@media screen and (max-width: 900px) {
  .products .button__view {
    margin-right: 0;
  }
}
.products .button__add {
  background: none;
  color: var(--color-dark);
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 50px;
  border-radius: 0px;
  font-size: var(--font-size-2);
  font-family: var(--font-sans);
  border: 1px solid var(--color-dark);
  cursor: pointer;
}
.products .button__add:hover {
  color: var(--color-accent);
}
@media screen and (max-width: 500px) {
  .products .button__add {
    font-size: var(--font-size-1);
    height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
