
@mixin standard($background: var(--color-dark), $color: var(--color-light), $border-radius: 0px, $hover: var(--color-dark), $hover-text: var(--color-medium) ) {
    background-color: $background;
    color: $color;
    display: inline-block;
    text-decoration: none;
    //padding: 1rem 1.5rem;
    width: 180px;
    height: 50px;
    border-radius: $border-radius;
    font-size: var(--font-size-2);
    font-family: var(--font-sans);
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: $hover;
        color: $hover-text;
    }
}

