@use '../tools/responsive';

.site-header {
    height: var(--menu-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    z-index: 999;
    position: fixed;

    .branding{
        margin-left: var(--page-padding);

        @include responsive.max($breakpoint:450px){
            max-width: 100px;
            margin-left: 1rem;
        }
     }

    .menu{
        margin-right: var(--page-padding);

        @include responsive.max($breakpoint:450px){
            
            margin-right: 1rem;
        }
     }
}
.site-header--scrolled{
    background-color: var(--color-light-medium);
}
