@use '../components/buttons' as button;
.section {
    margin-top: 100px;
   margin-bottom: 150px;
}
.about {
   
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner{
        grid-column: inner;
        display: flex;
        justify-content: space-between;
    }

    &__img-1{
        margin-bottom: 3rem;
    }

    &__content {
        max-width: var(--content-width-small);
        width: 100%;

        margin: 0 1.5rem 0 1.5rem;

        &:first-of-type{
            margin-top: 4rem; 
        }


        .button__learnmore{
            @include button.standard;
            margin-bottom: 7.5rem;
            margin-top: 1rem;
        }
        .button__shop{
            @include button.light;
            margin-top: 1rem;
        }

        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
            max-width: 27rem;
        }
    }

    

}

.products{
    display: grid;
    grid-template-columns: var(--grid-container);
    

    &__header{
        grid-column: inner;
        max-width: 500px;
        text-align: center;
        justify-self: center;
        margin-bottom: 3rem;

    }

    &__content{
        grid-column: inner;
        display: flex;
        justify-content: space-between;
    }

    .product{
        margin: 0 1.5rem 0 1.5rem;
        max-width: var(--content-width-small);

        &__title{
            margin: 2rem 0 1.5rem 0;
        }

       &__description{
           height: 12rem;
           max-width: 30rem;
           margin: 0
       }
    }

    .button__view{
        @include button.standard;
        margin-right: 3rem
    }
    .button__add{
        @include button.light;
    }
}