@use '../tools/responsive';

.menu {
    display: flex;
     a{
         margin-right: 1.5rem;
     }
}

.basket{
    position: relative;

    &::after{
        content: url(assets/icons/count.svg);
        position: absolute;
        height: 14px;
        width: 14px;
        top: -100%;
        left: 100%;
        transform: translateY(30%);
    }

    @include responsive.max($breakpoint: 300px){
        display: none;
    }
   
}

.my-pages{
    @include responsive.max($breakpoint: 300px){
        display: none;
    }
}

.menu-button {
    display: block;
    width: 36px;
    height: 20px;
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    position: relative;
    cursor: pointer;


    &__hamburger {
        height: 2px;
        width: 100%;
        background-color: var(--color-dark);
        position: relative;

        &::before,&::after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            right: 0;
            height: 2px;
            background-color: inherit;
            top: -8px;
        }

        &::after {
            top: 8px;
        }
    }
}

.menu-dropdown{
    position: absolute;
    right: var(--page-padding);
    top: var(--menu-height);
    text-align: end;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    position: fixed;
    background-color: rgba($color: #F4D9C8, $alpha: 0.8);
    padding: 1rem 3rem 3rem 3rem;
    right: 0;
    z-index: 999;

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item{
        margin-bottom: 0.3rem;

        a{
            color: var(--color-dark);
            &:hover{
                color: var(--color-accent);
            }

        }
    }

    
}

.menu--opened {
    visibility: visible;
    opacity: 1;
}

.menu-button--close .menu-button__hamburger,
.menu-button--close .menu-button__hamburger::before,
.menu-button--close .menu-button__hamburger::after {
    background-color: var(--color-accent);
}

.dropdown--scrolled{
    background-color: var(--color-light-medium);
    padding: 1rem 3rem 3rem 3rem;
    right: 0;
}