@use '../tools/responsive';

:root {

    //fonts
    --font-sans: 'poppins','sans-serif';
    --font-serif: 'stolzl', serif;

    //font base & scale
    --font-base: 1rem; 
    --font-scale: 1.25;
    --font-size-small: 0.75rem; //12
    --font-size-1: var(--font-base); //16
    --font-size-2: calc( var(--font-size-1) * var(--font-scale)); //20
    --font-size-3: calc( var(--font-size-2) * var(--font-scale)); //25
    --font-size-4: calc( var(--font-size-3) * var(--font-scale)); //31,25
    --font-size-5: calc( var(--font-size-4) * var(--font-scale)); //39
    --font-size-6: calc( var(--font-size-5) * var(--font-scale)); //48,8

    //colors
    
    --color-accent: #E19772;
    --color-light: #fff;
    --color-light-medium: #FAF0E8;
    --color-medium: #EED8CA;
    --color-dark: #463233;

    //section gaps
    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75);
    --section-gap-inner-small: calc( var(--section-gap) * 0.5);

    //grid gaps
    --grid-gap: 3rem;

    //page settings
    --page-width: 74.5rem;
    --page-padding: 5rem;

    //content settings
    
    --content-width: 55rem;
    --content-width-small: 34rem;

    //menu settings
    --menu-height: 80px;

    //grids
    --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0,var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
    --grid-content: 1fr  1fr [wide-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [wide-end] 1fr  1fr;

    @include responsive.max($breakpoint: 960px){
        --page-padding: 2.5rem;
    }


}